filtered_annotations.csv

.env
.env.local
.env.*
*.env
secrets.json
api_keys.json

chroma_db/

checkpoints/
*.pth
*.pt
*.bin
*.onnx
*.safetensors
models/*.pth
models/*.pt

data/raw/
data/Processed_Train/
*.jpg
*.jpeg
*.png   
!docs/*.png
!docs/*.jpg


__pycache__/

.ipynb_checkpoints/



.DS_Store
Thumbs.db
desktop.ini


details.txt

inference.ipynb
data/Processed_Images
checkpoints/
best_model.pth
models/class_mapping.json
models/*.pth
models/*.pt
models/

# VS Code
.vscode/


*reports