SnakeDetection.v9i.tensorflow/
Filtered_Train/
details.txt
data/raw/
data/Processed_Train/images
inference.ipynb
data/Processed_Images
checkpoints/

models/*.pth
models/*.pt
models/

# VS Code
.vscode/